@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-alt/theme.css';
@import '~primeng/resources/primeng.min.css';

.p-menuitem-text {
  line-height: 1;
  font-size: 18px;
  margin-left: 15px;
  color: white;
}

.p-calendar .p-inputtext {
  width: 400px !important;
}

/* You can add global styles to this file, and also import other style files */
